$container: 960px;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow: $top $left $blur $color #{$inset}; 
	-moz-box-shadow: $top $left $blur $color #{$inset};
	-ms-box-shadow: $top $left $blur $color #{$inset};  
	box-shadow: $top $left $blur $color #{$inset};  
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

body { 
  font-family: 'Open sans', sans-serif;
}



.container {
	width: $container;
	margin: 0 auto;
	margin-bottom: 20%;
	
}

header {
	margin: 20px 0;
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 10px;
	position: relative;
} 

h1#page-title{
	display: inline;
	position: absolute;
	top: 0;
	right: 12%;
	display: inline-block;
	color: #999;
	font-size: 2.5em;
}

#logo {
	width: 200px;
	height: 100px;
}

#studentLogin {

	margin-left: 0;

	input {
		width: 33%;
		display: block;
		margin: 10px 0;
		font-size: 1.3em;
	}
}


#EmployerLogin {

	margin-left: 0;

	input {
		width: 33%;
		display: block;
		margin: 10px 0;
		font-size: 1.3em;
	}
}

label.error {color: #c00;}
label > input.error {
	@include box-shadow (0, 0, 7px, rgba(204, 0, 0, 1));
}

label > input.error:focus {
	outline:0;
	border-color: #c00;
}

form {
	position: relative;
	width: 100%;
}

label > span.title {display: block;}


label {color: #666;}



input[type="text"], input[type="date"], input[type="email"], input[type="password"] {

	background: #f7f7f7;
	border: 1px solid #ccc;
	font-size: .9em;
	@include box-shadow(inset 0, 1px, 1px, rgba(0, 0, 0, 0.4)); 
	//width: 99%;
	height: 35px;
	border: 3px solid #d3d3d3;
	@include border-radius(3px);
	padding-left: 7px;

	&:focus {
		outline: 0;
		border-color: #fa2;
	}

}

textarea {
	@include box-shadow(inset 0, 1px, 1px, rgba(0, 0, 0, 0.5)); 
	background: #f7f7f7;
	width: 91%;
	position: absolute;
	height: 175px;
	border: 3px solid #d3d3d3;
	@include border-radius(3px);
	padding-left: 7px;

	&:focus {
		outline: 0;
		border-color: #fa2;
	}
}

select {
	background: #f7f7f7;
	@include box-shadow(inset 0, 1px, 1px, rgba(0, 0, 0, 0.5)); 
	height: 30px;
	width: 99%;
}


input[type="submit"] {
	
	background: #fa2;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #999;
	border-bottom: 3px solid #f90;
	position: absolute;
	width: 25%;
	/*bottom: -16em;*/
	left: 0;

	&:hover {
		color: #f7f7f7;
	}

	&:active, &:focus {color: #f7f7f7;}
}

#postjob {
	bottom: -16em;
}


/*** Form validation stuff ***/
span.req {color: red;}

span.countdown {
	position: absolute;
	right: 9%;
	bottom: -14em;
	font-weight: 100;
	font-style: italic;
}

.listing {
   //border-top: 1px solid #ccc;
   border-bottom: 4px solid #ddd;
   background: #f7f7f7;
   margin: 10px 0;
   padding: 5px 0 19px 31px;
   position: relative;

   h2 {
   	color: #fa2;
   }

   h3 {
   	font-weight: 300;
   	font-style: italic;

   }
}

.alert-success {
	background: #DFF2BF;
	padding: 10px;
	color: #4F8A10;
	text-shadow: 0 1px 1px #ccc;
	margin: 10px 0;
	display: none;
}

.fail {
	color: #D8000C;
	background-color: #FFBABA;
    text-shadow: 0 1px 1px #ccc;
	margin: 10px 0;
	padding: 10px;
	display: none;
}

//form {margin-left: 4.5%;}

span.error-message {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 5px;
	color: #AC1515;
	text-shadow: 0px 1px 1px #eee;
	border: 1px solid #E9B3B3;
	@include border-radius(2px);
	background: #EFDDD5;
}

span.success {
	width: 100%;
  margin: 10px 0;
	padding: 5px;
	background: #DFF2BF;
	color: #757F65;
	border: 1px solid #757F65;	
	display: block;
	@include border-radius(2px);
}


span.company {
	font-size: .6em;
	color: #aaa;
}

p.qualifications {
	font-weight: 400;
	color: #aaa;
	font-style: italic;
}

span.type {
  padding: 5px;
	background: #00afa4;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #767676;
	width: 159px;
	text-align: center;
	font-weight: bold;
}

.list-right { 
  position: absolute;
  right: 1%;
  top: 11px;;
	span {
		display: block;
	}
}

#adminLoginDetails {
	float: right;
}

span.date {font-style: italic; color: #999;}

p {
	color: #999;
}

p.description {
	width: 50%;
}

a#postJobBtn {
	background: #00afa4;
  color: #fff;
  text-shadow: 0 1px 1px #aaa;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid #007F77;
  @include border-radius(5px);
  font-weight: bold;
 	display: block;
 	text-align: center;
 	width: 15%;
 	margin-left: 85%;


  &:hover {
		opacity: 0.8;
		text-decoration: none;
  }
}

.readmore-js-expanded {
	height: auto !important
}

/*** Apply Button ***/
.applyBtn {
	background: #fa2;
	color: #fff;
	text-shadow: 0 1px 1px #767676;
	padding: 10px 30px 10px 30px;
	margin: 10px 0 0 20%;
	@include border-radius(5px);
	position: absolute;
	border-bottom: 3px solid #E79A1F;

	&:hover {
		color: #fff;
		text-decoration: none;
		opacity: 0.8;
	}

}

span.apply-title {
	color: #999; 
}

ul.errors {
	li {
		list-style: none;
		margin: 10px 0;
		padding: 10px;
	}
}

input.btn {width: auto;}

.user-info {
	li {
		list-style: none;
	}
}


/** Auth wrapper **/
.auth {
  width: 50%;
  margin: 0 auto;
  border: 3px solid #ccc;
  padding: 0px 25px 50px 25px;
  position: relative;
  @include border-radius(5px);

  h2 {
  	color: #666;
  	background: #ddd;
  	left: 0;
  	width: 100%;
  	margin:0;
  	position: absolute;
  	padding: 3px 10px;
  }

  form {
  	margin-top: 50px;
  }


}